html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  max-width: 100%;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

button {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topMenu {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 85px;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topMenu .infoPack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topMenu .infoPack div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topMenu .infoPack div div.bgcBlue {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #DCE9FE;
  border-radius: 7.03929px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 16px 0 27px;
}

.topMenu .infoPack div div.bgcBlue img {
  width: 16px;
  height: 16px;
}

.topMenu .infoPack div p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #000D4F;
  opacity: 0.4;
}

.topMenu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topMenu ul li {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 55px;
  color: #000D4F;
  opacity: 0.5;
  padding: 0 25px;
}

.topMenu ul li:last-of-type {
  padding: 0 0 0 25px;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 85px;
  padding-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.testimonial {
  margin: 180px auto;
}

.container .tenthSixteen {
  width: 62.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .tenthSixteen h2 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  padding-top: 139px;
  font-weight: 300;
  font-size: 38px;
  line-height: 55px;
  color: #000D4F;
}

.container .tenthSixteen h2 span {
  font-weight: bold;
}

.container .tenthSixteen .forWho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .tenthSixteen .forWho p {
  margin-top: 27px;
}

.container .tenthSixteen .forWho .textPadding p {
  margin-top: 33px;
}

.container .tenthSixteen .forWho .square {
  width: 96px;
  height: 96px;
  border-radius: 13.14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 27px 0;
}

.container .tenthSixteen .forWho .square.shadyBlue {
  background-color: #EBEFFF;
}

.container .tenthSixteen .forWho .square.turqish {
  background-color: #DDF3F3;
}

.container .tenthSixteen .forWho .square.yellowBgc {
  background-color: #FCFFEB;
}

.container .tenthSixteen .forWho .square.pinkBgc {
  background-color: #FDF0F1;
}

.container .tenthSixteen .forWho h4 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  color: #000D4F;
}

.container .tenthSixteen .forWho div {
  width: 42%;
  margin-right: 42px;
}

.container .sixthSixteen {
  width: 37.5%;
}

.container .sixthSixteen .imagesRight {
  width: 416px;
  display: block;
  position: relative;
  height: 742px;
  background-image: url("../img/right-images.png");
  border-radius: 63.14px;
  -webkit-box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
          box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
}

.container .sixthSixteen .imagesRight::before {
  content: "";
  display: block;
  width: 192px;
  height: 200px;
  position: absolute;
  right: -65px;
  bottom: -50px;
  z-index: -99;
  background-image: url("../img/green-third.svg");
}

.container .fourhtSixteen {
  width: 25%;
}

.container .fourhtSixteen .imageFizjo {
  width: 193px;
  height: 201px;
  position: relative;
  display: block;
  background-image: url("../img/magda-zosowska-djecie.png");
}

.container .fourhtSixteen .imageFizjo::before {
  content: "";
  width: 117px;
  height: 122px;
  display: block;
  z-index: -9;
  position: absolute;
  right: -60px;
  bottom: -60px;
  background: #EBEFFF;
  border-radius: 76.5702px 76.5702px 76.3158px 0px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.container .twoSixteen {
  width: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .twoSixteen.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .twelthSixteen {
  width: 75%;
}

.container .twelthSixteen.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px 0;
}

.container .twelthSixteen.testimonials .avatar-image {
  width: 83.44px;
  height: 87px;
  position: relative;
  background-image: url("../img/image-testimonial.png");
  opacity: 1;
  border-radius: 76.5702px 76.5702px 76.3158px 0px;
  margin-bottom: 42px;
}

.container .twelthSixteen.testimonials .avatar-image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -99;
  top: -18px;
  left: -50px;
  background-image: url("../img/testimonial-element.svg");
  width: 100px;
  height: 104.27px;
}

.container .twelthSixteen.testimonials h4 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 16px;
  color: #000D4F;
}

.container .twelthSixteen.testimonials p.testimonialParagraphs {
  font-family: Poppins;
  font-style: italic;
  width: 80%;
  font-weight: light;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #576192;
}

.container .twelthSixteen.testimonials p.testimonialParagraphs span {
  font-weight: bold;
}

.container .twelthSixteen.transport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EAEEFF;
  padding: 42px;
  border-radius: 13.14px;
}

.container .twelthSixteen.transport .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  background: #DCE9FE;
  mix-blend-mode: normal;
  border-radius: 13.14px;
}

.container .twelthSixteen.transport h5 {
  padding-top: 3px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin-left: 42px;
  line-height: 55px;
  color: #576192;
}

.container .twelthSixteen h3 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 55px;
  color: #000D4F;
}

.container .twelthSixteen h4 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 55px;
  color: #000D4F;
}

.container .sevnthSixteen {
  width: 43.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .sevnthSixteen .controlers {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 318px;
}

.container .sevnthSixteen .image {
  width: 396px;
  position: relative;
  height: 347px;
  -webkit-box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
          box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
  border-radius: 63.14px;
  display: block;
  background-image: url("../img/rehabilitation-inside.png");
}

.container .sevnthSixteen .image::before {
  content: "";
  display: block;
  width: 163px;
  height: 169px;
  border-radius: 76.5702px 76.5702px 76.3158px 0px;
  right: -50px;
  top: -40px;
  position: absolute;
  z-index: -1;
  background-color: #FFFFFF;
  opacity: 0.7;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.container .ninthSixteen {
  width: 56.25%;
}

.container .ninthSixteen button {
  margin-top: 53px;
}

.container .ninthSixteen .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .ninthSixteen .tabs h3 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 55px;
  color: #8394DB;
  opacity: 0.3;
  margin-bottom: 27px;
}

.container .ninthSixteen .tabs h3.active {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 55px;
  opacity: 0.99;
  color: #000D4F;
}

.container .half {
  width: 50%;
}

.container .half div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .half div button:first-of-type {
  margin-right: 40px;
}

.container .half.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .half.left-contact {
  margin-top: 60px;
}

.container .half .elements .row-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.container .half .elements .row-element .icon {
  background: #DCE9FE;
  display: block;
  width: 50px;
  height: 50px;
  mix-blend-mode: normal;
  border-radius: 13.14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .half .elements .row-element .text {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-left: 20px;
  line-height: 32px;
  color: #000D4F;
}

.container .half form {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 80%;
}

.container .half form input, .container .half form select {
  border: none;
  margin-top: 20px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 60px;
  height: 60px;
  border-radius: 10px;
  padding: 8px 30px 0 30px;
  background-color: #fff;
  text-transform: uppercase;
  color: #CDD0DE;
  -webkit-box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
          box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
}

.container .half form button {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  margin-top: 20px;
  font-weight: bold;
  padding-top: 4px;
  font-size: 16px;
  line-height: 51px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000D4F;
  -webkit-box-shadow: 10px 14px 40px rgba(146, 146, 146, 0.25);
          box-shadow: 10px 14px 40px rgba(146, 146, 146, 0.25);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container .half form button img {
  margin-right: 16px;
}

.container .half .elements, .container .half form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .half h1 {
  position: relative;
}

.container .half h1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -9;
  height: 87px;
  width: 87px;
  top: -40px;
  left: -10px;
  background: #FCCDCF;
  opacity: 0.7;
  border-radius: 76.5702px 76.5702px 76.3158px 0px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.container .half span {
  display: block;
}

.container .half p {
  width: 87.5%;
  margin: 27px 0 27px 0;
}

.container .half .mainImage {
  position: relative;
}

.container .half .mainImage img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: 90px 0;
  border-radius: 64px;
  -webkit-box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
          box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
}

.container .half .mainImage::before {
  content: url("../img/top-blue-element.svg");
  display: block;
  z-index: -99;
  width: 192.56px;
  position: absolute;
  height: 200.78px;
  right: -60px;
  top: 20px;
}

.container .half .mainImage::after {
  content: url("../img/bottom-top-image.svg");
  display: block;
  z-index: 99;
  width: 192.56px;
  position: absolute;
  height: 200.78px;
  left: 0;
  bottom: 0;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 90px auto 0 auto;
}

.map img {
  margin-top: 20px;
  opacity: 0.5;
}

.map h2 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 44px;
  color: #000D4F;
}

.map h2 span {
  font-weight: 500;
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits div {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits div .squareRadius {
  width: 96px;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 27px;
}

.benefits div .squareRadius.turqish {
  background: #DDF4F3;
  border-radius: 0px 76.57px 76.57px 76.57px;
}

.benefits div .squareRadius.shadyBlue {
  background: #EBEFFF;
  border-radius: 76.57px 76.57px 76.57px 0px;
}

.benefits div .squareRadius.yellowBgc {
  background: #FCFFEB;
  border-radius: 0px 76.57px 76.57px 76.57px;
}

.benefits div h5 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #000D4F;
}

.relative {
  position: relative;
  margin: 109px auto;
}

.relative::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #EBEFFF;
  border-radius: 13.14px;
  left: 21.875%;
  right: -21.875%;
  z-index: -99;
  min-height: 600px;
}

.controlers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controlers button {
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin-left: 30px;
  -webkit-box-shadow: 0 29.7936px 42.1201px rgba(49, 95, 181, 0.2);
          box-shadow: 0 29.7936px 42.1201px rgba(49, 95, 181, 0.2);
}

.relative-contact {
  position: relative;
  margin: 109px auto;
}

.relative-contact::before {
  content: "";
  position: absolute;
  border-radius: 13.14px;
  display: block;
  background-color: #EBEFFF;
  border-radius: 13.14px;
  left: -21.875%;
  right: -21.875%;
  z-index: -99;
  min-height: 600px;
}

.relative-contact h3 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 55px;
  color: #000D4F;
  position: relative;
}

.relative-contact h3::before {
  content: "";
  display: block;
  width: 163px;
  height: 169px;
  top: -60px;
  left: -60px;
  position: absolute;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -98;
  background: #FFFFFF;
  opacity: 0.7;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  border-radius: 76.5702px 76.5702px 76.3158px 0px;
}

.preheading {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 55px;
  text-transform: uppercase;
  color: #000D4F;
  opacity: 0.5;
}

h1 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  color: #000D4F;
}

button.firstButton {
  background: #000D4F;
  -webkit-box-shadow: 10px 14px 40px rgba(146, 146, 146, 0.25);
          box-shadow: 10px 14px 40px rgba(146, 146, 146, 0.25);
  border-radius: 10px;
  color: #ffffff;
  padding: 0 42px 0 27px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 55px;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button.firstButton img {
  margin-right: 16px;
}

button.firstButton span {
  margin-top: 5px;
}

button.secondButton {
  position: relative;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #000D4F;
  background: none;
  line-height: 60px;
  padding: 5px 0 0 0;
  border: none;
}

button.secondButton::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 16px;
  background-color: #DCE9FE;
  border-radius: 4px;
}

.standardParagraph {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #576192;
}

.standardParagraph span {
  font-weight: bold;
}

footer img {
  margin: 70px 50px 70px 0px;
}

footer p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #000D4F;
  opacity: 0.3;
}

.bgShadyBlue {
  position: relative;
}

.bgShadyBlue::before {
  content: "";
  background-image: url("../img/bg-shades.svg");
  position: absolute;
  display: block;
  height: 1100px;
  top: -80%;
  left: 0;
  right: 0;
  z-index: -99;
}

.container.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container.pricing h3 {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 55px;
  text-align: center;
  color: #000D4F;
}

.container.pricing .pricing-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 42px 0 68px 0;
}

.container.pricing .pricing-table .center-pricing, .container.pricing .pricing-table .small-pricing {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container.pricing .pricing-table .center-pricing.pink, .container.pricing .pricing-table .small-pricing.pink {
  color: #FCCDCF;
}

.container.pricing .pricing-table .center-pricing.pink .amount, .container.pricing .pricing-table .small-pricing.pink .amount {
  margin: 0 auto;
  width: 83.44px;
  line-height: 87px;
  height: 87px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FEF0F1;
  opacity: 0.7;
  border-radius: 76.5702px 76.5702px 0px 76.3158px;
}

.container.pricing .pricing-table .center-pricing.green, .container.pricing .pricing-table .small-pricing.green {
  color: #73D6C4;
}

.container.pricing .pricing-table .center-pricing.green .amount, .container.pricing .pricing-table .small-pricing.green .amount {
  margin: 0 auto;
  height: 87px;
  line-height: 87px;
  width: 83.44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DDF4F3;
  opacity: 0.7;
  border-radius: 76.5702px 0px 76.5702px 76.3158px;
}

.container.pricing .pricing-table .center-pricing.yellow, .container.pricing .pricing-table .small-pricing.yellow {
  color: #F4E134;
}

.container.pricing .pricing-table .center-pricing.yellow .amount, .container.pricing .pricing-table .small-pricing.yellow .amount {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 87px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 83.44px;
  height: 87px;
  background: #FCFFEB;
  border-radius: 76.5702px 76.5702px 76.3158px 0px;
}

.container.pricing .pricing-table .center-pricing span, .container.pricing .pricing-table .small-pricing span {
  margin-top: 27px;
  font-size: 22px;
  display: block;
}

.container.pricing .pricing-table .center-pricing {
  width: 31%;
  padding: 68px 0;
  min-height: 390px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
          box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.1);
  border-radius: 13.14px;
}

.container.pricing .pricing-table .center-pricing button {
  margin: 0 auto;
  margin-top: 27px;
  background: #000D4F;
  -webkit-box-shadow: 10px 14px 40px rgba(146, 146, 146, 0.25);
          box-shadow: 10px 14px 40px rgba(146, 146, 146, 0.25);
  border-radius: 10px;
  color: #ffffff;
  padding: 0 42px 0 27px;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 55px;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container.pricing .pricing-table .center-pricing button img {
  margin-right: 16px;
}

.container.pricing .pricing-table .center-pricing button span {
  margin-top: 5px;
  font-size: 16px;
}

.container.pricing .small-pricing {
  background: #FFFFFF;
  padding: 42px 0;
  width: 28%;
  min-height: 350px;
  -webkit-box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.04);
          box-shadow: 0px 69.7936px 72.1201px rgba(49, 95, 181, 0.04);
  border-radius: 13.14px;
}

.container.pricing .small-pricing button {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding: 9px 40px 0 40px;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 27px;
  max-width: 80%;
  text-transform: uppercase;
  color: #000D4F;
  background: #FFFFFF;
  -webkit-box-shadow: 10px 14px 40px rgba(146, 146, 146, 0.25);
          box-shadow: 10px 14px 40px rgba(146, 146, 146, 0.25);
  border-radius: 10px;
  border: none;
}

#map {
  width: 90%;
  height: 440px;
  margin: -20px auto 0 auto;
  border-radius: 0px 100px 100px 100px;
  margin-bottom: 90px;
}

@media screen and (max-width: 1600px) {
  .relative::before {
    right: -11.875%;
  }
  .relative-contact::before {
    right: -11.875%;
    left: -11.875%;
  }
}

@media screen and (max-width: 1400px) {
  .relative::before {
    right: -6.875%;
  }
  .relative-contact::before {
    right: -6.875%;
    left: -6.875%;
  }
}

@media screen and (max-width: 1200px) {
  .map img {
    max-width: 90%;
  }
  .container {
    max-width: 900px;
  }
  .container.pricing .small-pricing button {
    padding: 9px 15px 0 15px;
  }
  .container .ninthSixteen {
    margin-left: 30px;
  }
  .container .sixthSixteen .imagesRight {
    width: 350px;
    background-position: center;
  }
  .container .sixthSixteen .imagesRight::before {
    right: -10px;
  }
  .container .half .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .half .buttons .firstButton {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .container .half .buttons .secondButton {
    margin-top: 27px;
  }
  .container .half div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .half .mainImage::before {
    right: -20px;
  }
  .container .half .mainImage img {
    max-width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .relative::before {
    right: -1.875%;
  }
  .relative-contact h3::before {
    left: -15px;
  }
  .relative-contact::before {
    right: -1.875%;
    left: -1.875%;
  }
  .topMenu {
    max-width: 90%;
  }
  .topMenu .infoPack div.open-hours {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .controlers button {
    margin: 0 10px;
  }
  .map {
    margin: 90px auto 8px auto;
  }
  .container {
    max-width: 700px;
  }
  .container.relative-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container.relative-contact::before {
    min-height: 900px;
  }
  .container.relative-contact .left-contact {
    width: 90%;
  }
  .container.relative::before {
    min-height: 1100px;
    right: -3%;
  }
  .container.wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container.pricing .pricing-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container.pricing .pricing-table .center-pricing {
    width: 60%;
    margin-top: 42px;
  }
  .container.pricing .small-pricing {
    width: 60%;
    margin-top: 42px;
  }
  .container.wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container.benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container.benefits div {
    width: 100%;
    margin-top: 42px;
  }
  .container.benefits div .squareRadius {
    width: 76px;
  }
  .container .half {
    width: 100%;
  }
  .container .half.spacing {
    margin-top: 68px;
  }
  .container .half.form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .tenthSixteen {
    width: 100%;
  }
  .container .fourhtSixteen .imageFizjo {
    width: 163px;
    height: 171px;
    position: relative;
    background-size: cover;
  }
  .container .sixthSixteen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .container .sixthSixteen .imagesRight {
    max-height: 80vh;
    width: 700px;
    margin-top: 42px;
    background-size: cover;
    background-position: top center;
  }
  .container .sevnthSixteen {
    width: 100%;
  }
  .container .sevnthSixteen .image {
    background-size: cover;
    width: 100%;
  }
  .container .sevnthSixteen .image::before {
    right: 0px;
  }
  .container .twelthSixteen {
    width: 100%;
  }
  .container .twelthSixteen.testimonials {
    width: 100%;
  }
  .container .twelthSixteen h5 {
    line-height: 115%;
  }
  .container .ninthSixteen {
    width: 100%;
    margin-top: 42px;
  }
  .container .ninthSixteen button {
    width: 100%;
  }
  .container .ninthSixteen .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .ninthSixteen .tabs h3 {
    line-height: 115%;
  }
  .container .ninthSixteen .standardParagraph {
    width: 100%;
  }
  .topMenu .infoPack {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container.pricing .pricing-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container.pricing .pricing-table .center-pricing {
    width: 90%;
    margin-top: 42px;
  }
  .container.pricing .small-pricing {
    width: 90%;
    margin-top: 42px;
  }
  .container .sixthSixteen .imagesRight {
    width: 480px;
  }
  .container .twelthSixteen.transport h5 {
    line-height: 115%;
  }
  .container .tenthSixteen .forWho div {
    width: 100%;
  }
  .container .half .mainImage::before {
    right: 20px;
  }
  .container .half .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .half .buttons .firstButton {
    width: 100%;
  }
  .container .half .buttons .secondButton {
    margin: 27px auto;
  }
  .topMenu {
    display: none;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer img {
    margin: 30px 0px 30px 0px;
  }
  footer p {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .buttons .firstButton {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */