@media screen and (max-width: 1200px)
    .container
        max-width: 950px
        .pricing
    .relative::before
        right: -3.875%
    .relative-contact::before
        right: -3.875%
        left: -3.875%
    .topMenu
        max-width: 90%
        .infoPack
            div.open-hoursa
                display: none
